body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin-bottom: 100px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont {
  border: 1px solid #ccc;
  width: 450px;
  background: #333;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: white;
  text-align: center;
}
.cont-header {
  background-color: #2563eb;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

a {
  padding: 15px 50px;
  background-color: #2563eb;
  border-radius: 40px;
  backdrop-filter: brightness(40%);
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.link {
  margin-bottom: 20px;
}

a:hover {
  background-color: #114dcf;
}
p {
  margin-top: 100px;
  font-size: 30px;
}
